<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>logo商城</title>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/style.css" />



</head>
<body>
	<!-- 头部 -->
	<div id="top">
		<div class="top-tab">
			<div class="top-tab-left">

			   {% if session['logged_in'] %}
				<span>您好，欢迎{{session['username']}}来到<span style="color: #757573;">电器商城</span>
					&nbsp;<a href="/logout">[退出]</a>  <a href="/bashboard">[商品管理]</a></span>
				{% else %}
				<span>您好，欢迎进入<span style="color: #757573;">电器商城</span>
				&nbsp;&nbsp;<a href="/login">[登录]</a> &nbsp;&nbsp;<a href="/register">[注册]</a></span>
				{% endif %}
			</div>
			<div class="top-tab-right">
				<div class="tab-right-item">
					<span>我的商城</span>
					<img src="/static/image/triangle.png">
				</div>
				<span class="line">|</span>
				<div class="tab-right-item">
					<span>卖家中心</span>
					<img src="/static/image/triangle.png">
				</div>
				<span class="line">|</span>
				<div class="tab-right-item">我的订单</div>
				<span class="line">|</span>
				<div class="tab-right-item collect">
					<span>我的收藏</span>
					<img src="/static/image/triangle.png">
					<div class="collect-content">
						<div>收藏的商品</div>
						<div>收藏的店铺</div>
					</div>
				</div>
				<span class="line">|</span>
				<div class="tab-right-item">站内消息</div>
				<span class="line">|</span>
				<div class="tab-right-item more">
					<span>更多链接</span>
					<img src="/static/image/triangle.png">
					<div class="more-content">
						<div>商家入驻</div>
						<div>商家帮助</div>
					</div>
				</div>
			</div>
		</div>
		<div class="top-content normal">
			<div class="top-content-left"><span class="logo-shop"><a href="/huidaozhuye">logo商城</a></span></div>
			<div class="top-content-center">
				<div style="width: 100%;">
					<div class="top-centent-search">
						<input type="search" name="" class="search" value=""/>
						<div class="text"><span>搜索</span></div>
						<!-- <span>搜索</span> -->
					</div>
					<div class="top-centent-list">
						<span>笔记本电脑</span>
						<span>女装</span>
						<span>0元使用</span>
					</div>
				</div>
			</div>
			<div class="top-content-right">
				<div style="padding:10px;border:2px solid #cacaca;display: inline-block;">
					<div class="my-cart">
						<div class="nc_topbar"><img src="/static/image/nc_topbar.gif"/></div>
						<div class="text">我的购物车</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% block title %}
    首页
{% endblock %}

{% block head %}
    <link href="{{ url_for('static',filename='css/index.css') }}" rel="stylesheet" type="text/css"/>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/ssi-uploader.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='js/index.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.jSlider.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/partialvxxiewslider.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/jSlider.min.css') }}">
    <script src="{{ url_for('static',filename='js/login_mt.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style_img.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='img_trans/default.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='img_trans/demo.css',v=2) }}">
    <script type="text/javascript" src="{{ url_for('static',filename='js/dotdotdot.js') }}"></script>

{% endblock %}



{% block main %}


    <div class="inner_body">
        <form action="/add_product" id="product_form" method="post" enctype="multipart/form-data">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">商品类别</span>
                <div class="dropdown menu_cate">
                    <button class="btn btn-default dropdown-toggle" type="button"
                            id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="true">
                        <span class="one_cate">一级类别</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        {% for category in categorys %}
                            <li id="{{ category.id }}" class="one_li"><a
                                    href="#">{{ category.cname }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">商品名称</span>
                <input type="text" maxlength="50" id="pname"
                       class="form-control must_input_product" name="pname"
                       placeholder="商品名称" aria-describedby="basic-addon1">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">商品描述</span>
                <textarea class="form-control must_input_product" id="pDesc" name="pDesc"
                          rows="3" placeholder="说说你的商品吧~"></textarea>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">商品数量</span>
                <input type="number" max="100" maxlength="2" id="counts"
                       onkeyup="this.value=this.value.replace(/\D/g,'')"
                       onafterpaste="this.value=this.value.replace(/\D/g,'')"
                       class="form-control must_input_product" name="counts"
                       placeholder="商品数量" aria-describedby="basic-addon1">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">商品原价</span>
                <input type="number" maxlength="8" id="old_price"
                       onkeyup="value=value.replace(/[^\d.]/g,'')"
                       class="form-control must_input_product" name="old_price"
                       placeholder="商品原价" aria-describedby="basic-addon1">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">商品售价</span>
                <input type="number" maxlength="8"
                       onkeyup="value=value.replace(/[^\d.]/g,'')" id="new_price"
                       class="form-control must_input_product" name="new_price"
                       placeholder="你出价" aria-describedby="basic-addon1">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">商品照片</span>
                <div class="htmleaf-container">
                    <div class="container">

                        <div class="row">
                            <div class="col-md-12">

                                <input type="file" name="file" multiple id="ssi-upload"/>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {#<button type="submit" class="btn btn-success fb" style="width: 100%;"
                    onclick="checkAll()">发布商品
            </button>
            #}
             <input type="submit" class="btn btn-success fb" style="width: 100%;" value="发布商品">
        </form>
    </div>
{% endblock %}
